In [265]:
#imports
import boto3
from botocore.exceptions import ClientError #for debugging
from dotenv import load_dotenv #for env variables
import os
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import csv
print("psycopg2 version:", psycopg2.__version__)

psycopg2 version: 2.9.10 (dt dec pq3 ext lo64)

In [266]:
#load the variables/password/IDs from the .env file
load_dotenv()
#get the access and secret key 
access_key_id = os.getenv('ACCESS_KEY_ID')
secret_key = os.getenv('SECRET_ACCESS_KEY')

#declare bucket name and data folder name where data will be downloaded to
bucket_name = "mindex-data-analytics-code-challenge"
data_folder = "/Users/mady/mindex_data_analytics_challenge/data/"

#print  key variables to verify that hold the correct values as what was provided
#print('access_key_id: ', access_key_id)
#print('secret_key: ', secret_key)

In [267]:

#create s3 client
s3 = boto3.client('s3', aws_access_key_id=access_key_id, aws_secret_access_key=secret_key, region_name='us-east-1')

#file names to download
files = ['bengals.csv', 'boyd_receiving.csv', 'chase_receiving.csv', 'higgins_receiving.csv']

#download each file
for file in files:
    try:
        s3.download_file(bucket_name, file, data_folder + file)
        print(file + " downloaded successfully")
    except Exception as e:
        print(file + "error: ", e)

bengals.csv downloaded successfully
boyd_receiving.csv downloaded successfully
chase_receiving.csv downloaded successfully
higgins_receiving.csv downloaded successfully

In [268]:
'''
Use the pandas library to load each CSV into its own dataframe.
'''
dataframes = {} #dictionary to hold the dataframes for each player
player_files = ['/Users/mady/mindex_data_analytics_challenge/data/boyd_receiving.csv', '/Users/mady/mindex_data_analytics_challenge/data/chase_receiving.csv', '/Users/mady/mindex_data_analytics_challenge/data/higgins_receiving.csv']

#put each file into a pandas dataframe
for file in player_files:
    csv = file.split('/data/')[1]
    player_name = csv.split('_')[0].capitalize()
    print(player_name + " dataframe created")
    dataframes[player_name] = pd.read_csv(file)
    #add player name as a column
    dataframes[player_name]['Player'] = player_name

#tst if that worked
print('****** Boyd df ****** \n ', dataframes['Boyd'].head())
print('****** Higgins df ****** \n ',dataframes['Higgins'].head())
print('****** Higgins df ****** \n ',dataframes['Chase'].head())

#load bengals data into a panda frame
dataframes['Bangals'] = pd.read_csv('/Users/mady/mindex_data_analytics_challenge/data/bengals.csv')
print('****** Bengals df ****** \n ',dataframes['Bangals'].head())

Boyd dataframe created
Chase dataframe created
Higgins dataframe created
****** Boyd df ******
     Week  Yards  TD Player
0  REG1     32   0   Boyd
1  REG2     73   0   Boyd
2  REG3     36   1   Boyd
3  REG4    118   0   Boyd
4  REG5     24   0   Boyd
****** Higgins df ******
     Week  Yards  TD   Player
0  REG1     58   1  Higgins
1  REG2     60   1  Higgins
2  REG5     32   0  Higgins
3  REG6     44   0  Higgins
4  REG7     62   0  Higgins
****** Higgins df ******
     Week  Yards  TD Player
0  REG1    101   1  Chase
1  REG2     54   1  Chase
2  REG3     65   2  Chase
3  REG4     77   0  Chase
4  REG5    159   1  Chase
****** Bengals df ******
     Week Opponent Location  Result
0  PRE1       TB     Away     1.0
1  PRE2      WSH     Away     0.0
2  PRE3      MIA     Home     0.0
3  REG1      MIN     Home     1.0
4  REG2      CHI     Away     0.0

In [ ]:
'''
Join/Merge all of the dataframes together to display one global table that shows
the three different receiver’s yards and touchdown (TD) data as well as every
game result. Be sure to include Opponent, Location, and Result fields from the
bengals.csv file.

Replace the ‘1.0’ or ‘0.0’ values in the Result field to display ‘Win’ or ‘Loss’,
respectively.
'''

#concat the player data frames
df = pd.concat([dataframes['Boyd'], dataframes['Higgins'], dataframes['Chase']])

#join to the bengals data frame
df = df.merge(dataframes['Bangals'], on='Week')

#replace the 1.0 and 0.0 values in the Result field
df = df.replace({'Result': {1.0: 'Win', 0.0: 'Loss'}})
df.index = range(1, len(df) + 1)
#add indexs column so it's in CSV
df['Index'] = range(1, len(df) + 1)
print(df)
#save the global dataframe to a csv file 
df.to_csv('/Users/mady/mindex_data_analytics_challenge/data/global.csv', index=False)

     Week  Yards  TD   Player Opponent Location Result  Index
1    REG1     32   0     Boyd      MIN     Home    Win      1
2    REG2     73   0     Boyd      CHI     Away   Loss      2
3    REG3     36   1     Boyd      PIT     Away    Win      3
4    REG4    118   0     Boyd      JAX     Home    Win      4
5    REG5     24   0     Boyd       GB     Home   Loss      5
6    REG6      7   0     Boyd      DET     Away    Win      6
7    REG7     39   0     Boyd      BAL     Away    Win      7
8    REG8     69   1     Boyd      NYJ     Away   Loss      8
9    REG9     11   0     Boyd      CLE     Home   Loss      9
10  REG11     49   0     Boyd       LV     Away    Win     10
11  REG12     13   0     Boyd      PIT     Home    Win     11
12  REG13     85   0     Boyd      LAC     Home   Loss     12
13  REG14     55   0     Boyd       SF     Home   Loss     13
14  REG15     96   1     Boyd      DEN     Away    Win     14
15  REG16     85   1     Boyd      BAL     Home    Win     15
16  REG17     36   1     Boyd       KC     Home    Win     16
17  POST1     26   1     Boyd       LV     Home    Win     17
18  POST2     17   0     Boyd      TEN     Away    Win     18
19  POST3     19   0     Boyd       KC     Away    Win     19
20  POST4     48   0     Boyd      LAR  Neutral   Loss     20
21   REG1     58   1  Higgins      MIN     Home    Win     21
22   REG2     60   1  Higgins      CHI     Away   Loss     22
23   REG5     32   0  Higgins       GB     Home   Loss     23
24   REG6     44   0  Higgins      DET     Away    Win     24
25   REG7     62   0  Higgins      BAL     Away    Win     25
26   REG8     97   0  Higgins      NYJ     Away   Loss     26
27   REG9     78   0  Higgins      CLE     Home   Loss     27
28  REG11     15   0  Higgins       LV     Away    Win     28
29  REG12    114   1  Higgins      PIT     Home    Win     29
30  REG13    138   1  Higgins      LAC     Home   Loss     30
31  REG14    114   0  Higgins       SF     Home   Loss     31
32  REG15     23   0  Higgins      DEN     Away    Win     32
33  REG16    194   2  Higgins      BAL     Home    Win     33
34  REG17     62   0  Higgins       KC     Home    Win     34
35  POST1     10   0  Higgins       LV     Home    Win     35
36  POST2     96   0  Higgins      TEN     Away    Win     36
37  POST3    103   0  Higgins       KC     Away    Win     37
38  POST4    100   2  Higgins      LAR  Neutral   Loss     38
39   REG1    101   1    Chase      MIN     Home    Win     39
40   REG2     54   1    Chase      CHI     Away   Loss     40
41   REG3     65   2    Chase      PIT     Away    Win     41
42   REG4     77   0    Chase      JAX     Home    Win     42
43   REG5    159   1    Chase       GB     Home   Loss     43
44   REG6     97   0    Chase      DET     Away    Win     44
45   REG7    201   1    Chase      BAL     Away    Win     45
46   REG8     32   1    Chase      NYJ     Away   Loss     46
47   REG9     49   0    Chase      CLE     Home   Loss     47
48  REG11     32   1    Chase       LV     Away    Win     48
49  REG12     39   0    Chase      PIT     Home    Win     49
50  REG13     52   0    Chase      LAC     Home   Loss     50
51  REG14     77   2    Chase       SF     Home   Loss     51
52  REG15      3   0    Chase      DEN     Away    Win     52
53  REG16    125   0    Chase      BAL     Home    Win     53
54  REG17    266   3    Chase       KC     Home    Win     54
55  REG18     26   0    Chase      CLE     Away   Loss     55
56  POST1    116   0    Chase       LV     Home    Win     56
57  POST2    109   0    Chase      TEN     Away    Win     57
58  POST3     54   1    Chase       KC     Away    Win     58
59  POST4     89   0    Chase      LAR  Neutral   Loss     59

In [270]:
#remove any empty rows (csv have empty last row)
df.replace('', pd.NA, inplace=True) 
df.dropna(how='any')

     Week  Yards  TD   Player Opponent Location Result  Index
1    REG1     32   0     Boyd      MIN     Home    Win      1
2    REG2     73   0     Boyd      CHI     Away   Loss      2
3    REG3     36   1     Boyd      PIT     Away    Win      3
4    REG4    118   0     Boyd      JAX     Home    Win      4
5    REG5     24   0     Boyd       GB     Home   Loss      5
6    REG6      7   0     Boyd      DET     Away    Win      6
7    REG7     39   0     Boyd      BAL     Away    Win      7
8    REG8     69   1     Boyd      NYJ     Away   Loss      8
9    REG9     11   0     Boyd      CLE     Home   Loss      9
10  REG11     49   0     Boyd       LV     Away    Win     10
11  REG12     13   0     Boyd      PIT     Home    Win     11
12  REG13     85   0     Boyd      LAC     Home   Loss     12
13  REG14     55   0     Boyd       SF     Home   Loss     13
14  REG15     96   1     Boyd      DEN     Away    Win     14
15  REG16     85   1     Boyd      BAL     Home    Win     15
16  REG17     36   1     Boyd       KC     Home    Win     16
17  POST1     26   1     Boyd       LV     Home    Win     17
18  POST2     17   0     Boyd      TEN     Away    Win     18
19  POST3     19   0     Boyd       KC     Away    Win     19
20  POST4     48   0     Boyd      LAR  Neutral   Loss     20
21   REG1     58   1  Higgins      MIN     Home    Win     21
22   REG2     60   1  Higgins      CHI     Away   Loss     22
23   REG5     32   0  Higgins       GB     Home   Loss     23
24   REG6     44   0  Higgins      DET     Away    Win     24
25   REG7     62   0  Higgins      BAL     Away    Win     25
26   REG8     97   0  Higgins      NYJ     Away   Loss     26
27   REG9     78   0  Higgins      CLE     Home   Loss     27
28  REG11     15   0  Higgins       LV     Away    Win     28
29  REG12    114   1  Higgins      PIT     Home    Win     29
30  REG13    138   1  Higgins      LAC     Home   Loss     30
31  REG14    114   0  Higgins       SF     Home   Loss     31
32  REG15     23   0  Higgins      DEN     Away    Win     32
33  REG16    194   2  Higgins      BAL     Home    Win     33
34  REG17     62   0  Higgins       KC     Home    Win     34
35  POST1     10   0  Higgins       LV     Home    Win     35
36  POST2     96   0  Higgins      TEN     Away    Win     36
37  POST3    103   0  Higgins       KC     Away    Win     37
38  POST4    100   2  Higgins      LAR  Neutral   Loss     38
39   REG1    101   1    Chase      MIN     Home    Win     39
40   REG2     54   1    Chase      CHI     Away   Loss     40
41   REG3     65   2    Chase      PIT     Away    Win     41
42   REG4     77   0    Chase      JAX     Home    Win     42
43   REG5    159   1    Chase       GB     Home   Loss     43
44   REG6     97   0    Chase      DET     Away    Win     44
45   REG7    201   1    Chase      BAL     Away    Win     45
46   REG8     32   1    Chase      NYJ     Away   Loss     46
47   REG9     49   0    Chase      CLE     Home   Loss     47
48  REG11     32   1    Chase       LV     Away    Win     48
49  REG12     39   0    Chase      PIT     Home    Win     49
50  REG13     52   0    Chase      LAC     Home   Loss     50
51  REG14     77   2    Chase       SF     Home   Loss     51
52  REG15      3   0    Chase      DEN     Away    Win     52
53  REG16    125   0    Chase      BAL     Home    Win     53
54  REG17    266   3    Chase       KC     Home    Win     54
55  REG18     26   0    Chase      CLE     Away   Loss     55
56  POST1    116   0    Chase       LV     Home    Win     56
57  POST2    109   0    Chase      TEN     Away    Win     57
58  POST3     54   1    Chase       KC     Away    Win     58
59  POST4     89   0    Chase      LAR  Neutral   Loss     59

In [263]:
#get variaables from the .env file
db_host = os.getenv('DB_HOST')
db_username = os.getenv('USERNAME')
db_password = os.getenv('PASSWORD')
db_name = os.getenv('DB_NAME')
db_table_name = os.getenv('TABLE_NAME')
db_address = os.getenv('ADDRESS')

#db connection details 
#note address is the IP address from terminal running nslookup and the host given
#because the host was not working to let me connect
db = {
    'dbname': db_name,
    'user': db_username,
    'password': db_password,
    'host': db_address,
    'port': '5432'
}
connection_string = 'postgresql+psycopg2://' + db_username + ':' + db_password + '@' + db_address + '/' + db_name
#create SQLalchemy engine
engine = create_engine(connection_string)

#for debugging, prints my table
def print_my_table():
    try:
        with engine.connect() as connection:
            query = f"SELECT * FROM {db_table_name};"
            mb = pd.read_sql(query, con=connection.connection)
            print("connection to DB successful, table to print below")
            print(mb)

    except Exception as e:
        print("error connecting to PostgreSQL DB: ", e)
        
print_my_table()

connection to DB successful, table to print below
Empty DataFrame
Columns: []
Index: []

/var/folders/m_/b_wfgwbs4bz_t1zz98v8qgfr0000gn/T/ipykernel_19023/3630678409.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mb = pd.read_sql(query, con=connection.connection)

In [ ]:
#helper method
def execute_query_helper(query):
    try:
        conn = psycopg2.connect(**db)
        cursor = conn.cursor()
        alter_query = query
        cursor.execute(alter_query)
        conn.commit()
    except Exception as e:
        print(f"Error: {e}")
    finally:
        #close connection
        if cursor:
            cursor.close()
        if conn:
            conn.close()

#add columms
execute_query_helper("""  
        ALTER TABLE madison_banaszak
        ADD COLUMN Week TEXT,
        ADD COLUMN Yards INT,
        ADD COLUMN TD INT,
        ADD COLUMN Player TEXT,
        ADD COLUMN Opponent TEXT,
        ADD COLUMN Location TEXT,
        ADD COLUMN Result TEXT,
        ADD COLUMN Index INT;
                     """)
print_my_table()

connection to DB successful, table to print below
Empty DataFrame
Columns: [week, yards, td, player, opponent, location, result, index]
Index: []

/var/folders/m_/b_wfgwbs4bz_t1zz98v8qgfr0000gn/T/ipykernel_19023/3630678409.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mb = pd.read_sql(query, con=connection.connection)

In [286]:
#get connection to db
conn = psycopg2.connect(**db)
#create cursor object
curr = conn.cursor()

#delete all rows from table first
print("about to clean out table first before insert")
execute_query_helper(""" DELETE FROM madison_banaszak; """)
print_my_table()
#open the csv file
with open('/Users/mady/mindex_data_analytics_challenge/data/global.csv', 'r') as f:
    #skip the header row
    next(f)
    #copy the csv file into the table
    curr.copy_from(f, 'madison_banaszak', sep=',')
    conn.commit()
    curr.close()
    conn.close()
    print("CSV file copied into table successfully :)")

print_my_table()

about to clean out table first before insert

/var/folders/m_/b_wfgwbs4bz_t1zz98v8qgfr0000gn/T/ipykernel_19023/3630678409.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mb = pd.read_sql(query, con=connection.connection)

connection to DB successful, table to print below
Empty DataFrame
Columns: [week, yards, td, player, opponent, location, result, index]
Index: []
CSV file copied into table successfully :)
connection to DB successful, table to print below
     week  yards  td   player opponent location result  index
0    REG1     32   0     Boyd      MIN     Home    Win      1
1    REG2     73   0     Boyd      CHI     Away   Loss      2
2    REG3     36   1     Boyd      PIT     Away    Win      3
3    REG4    118   0     Boyd      JAX     Home    Win      4
4    REG5     24   0     Boyd       GB     Home   Loss      5
5    REG6      7   0     Boyd      DET     Away    Win      6
6    REG7     39   0     Boyd      BAL     Away    Win      7
7    REG8     69   1     Boyd      NYJ     Away   Loss      8
8    REG9     11   0     Boyd      CLE     Home   Loss      9
9   REG11     49   0     Boyd       LV     Away    Win     10
10  REG12     13   0     Boyd      PIT     Home    Win     11
11  REG13     85   0     Boyd      LAC     Home   Loss     12
12  REG14     55   0     Boyd       SF     Home   Loss     13
13  REG15     96   1     Boyd      DEN     Away    Win     14
14  REG16     85   1     Boyd      BAL     Home    Win     15
15  REG17     36   1     Boyd       KC     Home    Win     16
16  POST1     26   1     Boyd       LV     Home    Win     17
17  POST2     17   0     Boyd      TEN     Away    Win     18
18  POST3     19   0     Boyd       KC     Away    Win     19
19  POST4     48   0     Boyd      LAR  Neutral   Loss     20
20   REG1     58   1  Higgins      MIN     Home    Win     21
21   REG2     60   1  Higgins      CHI     Away   Loss     22
22   REG5     32   0  Higgins       GB     Home   Loss     23
23   REG6     44   0  Higgins      DET     Away    Win     24
24   REG7     62   0  Higgins      BAL     Away    Win     25
25   REG8     97   0  Higgins      NYJ     Away   Loss     26
26   REG9     78   0  Higgins      CLE     Home   Loss     27
27  REG11     15   0  Higgins       LV     Away    Win     28
28  REG12    114   1  Higgins      PIT     Home    Win     29
29  REG13    138   1  Higgins      LAC     Home   Loss     30
30  REG14    114   0  Higgins       SF     Home   Loss     31
31  REG15     23   0  Higgins      DEN     Away    Win     32
32  REG16    194   2  Higgins      BAL     Home    Win     33
33  REG17     62   0  Higgins       KC     Home    Win     34
34  POST1     10   0  Higgins       LV     Home    Win     35
35  POST2     96   0  Higgins      TEN     Away    Win     36
36  POST3    103   0  Higgins       KC     Away    Win     37
37  POST4    100   2  Higgins      LAR  Neutral   Loss     38
38   REG1    101   1    Chase      MIN     Home    Win     39
39   REG2     54   1    Chase      CHI     Away   Loss     40
40   REG3     65   2    Chase      PIT     Away    Win     41
41   REG4     77   0    Chase      JAX     Home    Win     42
42   REG5    159   1    Chase       GB     Home   Loss     43
43   REG6     97   0    Chase      DET     Away    Win     44
44   REG7    201   1    Chase      BAL     Away    Win     45
45   REG8     32   1    Chase      NYJ     Away   Loss     46
46   REG9     49   0    Chase      CLE     Home   Loss     47
47  REG11     32   1    Chase       LV     Away    Win     48
48  REG12     39   0    Chase      PIT     Home    Win     49
49  REG13     52   0    Chase      LAC     Home   Loss     50
50  REG14     77   2    Chase       SF     Home   Loss     51
51  REG15      3   0    Chase      DEN     Away    Win     52
52  REG16    125   0    Chase      BAL     Home    Win     53
53  REG17    266   3    Chase       KC     Home    Win     54
54  REG18     26   0    Chase      CLE     Away   Loss     55
55  POST1    116   0    Chase       LV     Home    Win     56
56  POST2    109   0    Chase      TEN     Away    Win     57
57  POST3     54   1    Chase       KC     Away    Win     58
58  POST4     89   0    Chase      LAR  Neutral   Loss     59

/var/folders/m_/b_wfgwbs4bz_t1zz98v8qgfr0000gn/T/ipykernel_19023/3630678409.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mb = pd.read_sql(query, con=connection.connection)